* {
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  width: 100%;
  background-image: url("./imgs/tlobezwody.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  min-height: 800px;
}
.center img {
  width: 100%;
  max-width: 1000px;
}
.center a {
  display: block;
  text-decoration: none;
  background-color: gray;
  color: white;
  padding: 1.2em;
  border-radius: 1.5em;
  font-size: large;
}

@media screen and (max-width: 1000px) {
  .showcase {
    min-height: 900px;
  }
}
#croco, #czapka {
  cursor: pointer;
}

.showcase {
  padding-top: 7vh;
  height: 90vh;
  width: 90%;
  max-width: 1420px;
  min-height: 1000px;
  margin: auto;
}
@media screen and (max-width: 1000px) {
  .showcase .showcase-layout {
    margin-top: 5em;
    margin-bottom: 5em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    height: 70%;
  }
  .showcase section {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .showcase .showcase-display {
    width: 100%;
    max-width: 300px;
  }
}
@media screen and (min-width: 1000px) {
  .showcase .showcase-layout {
    margin-top: 5em;
    margin-bottom: 5em;
    display: flex;
    justify-content: space-between;
    height: 70%;
  }
  .showcase .showcase-display {
    float: right;
  }
  .showcase section {
    width: 40%;
  }
}
.showcase h1 {
  font-size: 48px;
}
.showcase h2 {
  font-size: 28px;
}
.showcase section {
  height: 100%;
}
.showcase .showcase-display-roll {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.showcase .showcase-display {
  height: calc(100% - 2.4em);
  display: block;
  position: relative;
  justify-content: center;
  align-items: center;
  border: 0.2em solid rgba(0, 0, 0, 0.838);
  border-radius: 1em;
  overflow: hidden;
  padding: 1em;
  aspect-ratio: 9/16;
}
.showcase .showcase-display img {
  position: absolute;
  width: 90%;
  transform: translate(-50%, -50%);
  left: 50%;
  bottom: -5%;
  transition: 0.33s;
}
.showcase .dice {
  position: relative;
  bottom: 2.5em;
}
.showcase .dice button {
  width: 6em;
  height: 6em;
  border: 0.3em solid rgb(255, 255, 255);
  border-radius: 100%;
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(32, 32, 32);
  cursor: pointer;
}
.showcase .dice button:hover {
  transform: scale(1.2) translateZ(0px);
  border: 0 solid rgb(0, 0, 0);
}
.showcase .dice svg {
  transition: 2s cubic-bezier(0.09, 0.74, 0.01, 1.01);
}

.bg-img {
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.bg-center {
  background-position: center;
  background-size: cover;
}/*# sourceMappingURL=style.css.map */